extends template

block title
  title= `${title} - Solomon`

block link
  link(rel='amphtml' href=`https://poi.works/post/${slug}/`)
  link(rel='canonical' href=`https://poi.works/amp/${slug}.html`)

block linkedData
  script(type='application/ld+json') !{JSON.stringify(ld)}

block content
  h3= title
  article!= html
