extends template

block title
  title= `${title} - Solomon`

block link
  link(rel='canonical' href=`https://blog.poi.cat/post/${slug}/`)

block linkedData
  script(type='application/ld+json')= ld

block content
  h3= title
  article!= html
